{% extends 'webapp/head.html' %}
{% block title %}Password reset{% endblock %}

{% block content %}
  <div class="container-fluid unique">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            {% include 'webapp/messages.html' %}
            <div class="forma" style="margin-top: 8rem">
                <form class="form-horisontal" action="" method="post">
                  {% csrf_token %}
                  {% include 'webapp/form-template.html' %}
                  <div class="form-group">
                      <div class="col-lg-4 offset-4">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                              <span class="fa fa-envelope-o" aria-hidden="true"></span>&nbsp;
                              Send email
                          </button>
                      </div>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

</body>

</html>
