<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Trip wallet {% endblock %} </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'webapp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/fonts/material-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/fonts/simple-line-icons.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/chosen.min.css' %}">

</head>

<body>
    <script src="{% static 'webapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'webapp/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'webapp/js/script.min.js' %}"></script>
    <script src="{% static 'webapp/js/chosen.jquery.min.js' %}"></script>

    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">

          <!-- logo -->
          <a class="navbar-brand" href="{% url 'webapp:MAIN' %}">Trip wallet</a>

          <!-- navigation toggler -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar" aria-controls="topNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <!-- navigation buttons -->
          <div class="collapse navbar-collapse" id="topNavbar">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <!-- home button -->
                  <li class="nav-item ">
                      <a class="nav-link" href="#">
                          <span class="fa fa-road" aria-hidden="true"></span>&nbsp;
                          My trips
                      <a>
                  </li>

                  <!-- add new user -->
                  <li class="nav-item dropdown {% block new_user_active %}{% endblock %}">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-user-plus" aria-hidden="true"></span>&nbsp;
                        Add user
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">New User</a>
                          <a class="dropdown-item" href="#">Fake User</a>
                          <a class="dropdown-item" href="#">Donator</a>
                      </div>
                  

                  <!-- user details-->
                  <li class="nav-item {% block user_details_active %}{% endblock %}">
                      <a class="nav-link" href="#">
                          <span class="icon ion-user" aria-hidden="true"></span>&nbsp;
                          My account
                      </a>
                  </li>
              </ul>

              <ul class="navbar-nav">
                  <!-- search -->
                  <form class="form-inline my-2 my-lg-0">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                      <input class="form-control mr-sm-2" type="search" placeholder="Search">
                  </form>

                  <!-- login-logout -->
                  {% if user.is_authenticated %}
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'webapp:LogOut' %}">
                          <span class="fa fa-power-off" aria-hidden="true"></span>&nbsp; Logout</a>
                      </li>
                  {% else %}
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                          <span class="fa fa-power-off" aria-hidden="true"></span>&nbsp; Login</a>
                      </li>
                  {% endif %}
              </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}


</body>

</html>
