{% extends "webapp/head.html" %}

{% block content %}
  <div class="container-fluid login">
      <div class="row">
          <div class="col-lg-4 offset-lg-4">
              <div class="forma">
                  <h2 class="sr-only">Heading</h2>
                  <div class="illustration"><i class="icon ion-ios-locked-outline illustration"></i></div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col"><input type="email" id="email" placeholder="email" autofocus /></div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col"><input type="password" id="password" placeholder="password" required /></div>
                    </div>
                  </div>
                  <div class="form-group"><button class="btn btn-primary btn-block buton" type="submit" id="login_button" herf="../xxx">Log in</button></div>
                  <a href="forgot" id="forgot_link" class="link">Forgot your password?</a>
                  <a href="../signin" id="signin_link" class="link">Sign in</a>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
