<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}
    <title><i class="icon ion-power"></i>Log in</title>
    <link rel="stylesheet" href="{% static 'webapp/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'webapp/css/styles.css' %}">
</head>

<body>
    <div class="login">
        <h1 class="text-center text-uppercase title">Trip wallet</h1>
        <form method="post">
            <h2 class="sr-only">Heading</h2>
            <div class="illustration">
              <i class="icon ion-ios-locked-outline illustration"></i>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" id="email" placeholder="email">
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="password" placeholder="password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit" id="login">Log in</button>
            </div>
            <a href="#" id="forgot" class="link">Forgot your password?</a>
            <a href="../signin/" id="signin" class="link">Sign in</a>
          </form>
    </div>
    <script src="{% static 'webapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'webapp/bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>
