{% extends 'webapp/head.html' %}
{% block title %}My trips{% endblock %}
{% block content %}
  <div class="container-fluid main">
        <div class="row" id="table_trips">
            <div class="col-lg-8 offset-lg-2">
                {% include 'webapp/messages.html' %}
                <div class="box">
                    <a href="#" class="link">
                        <h2>Heading 1</h2>
                        <p>Paragraph</p>
                    </a>
                </div>
                <div class="box">
                    <a href="#" class="link">
                        <h2>Heading 2</h2>
                        <p>Paragraph</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="add"><a href="/newtrip" id="addTrip_link" class="link"><i class="icon ion-plus-circled"></i></a></div>
            </div>
        </div>
    </div>
{% endblock %}
