{% if messages %}
    {% for message in messages %}
        <div class="col-lg-12 {{ message.tags }}" id="message_box">
            <h4> {{message}} </h4>
        </div>
        {% if 'delay' == message.tags %}
            <script type="text/javascript">
                $('#message_box').delay(5000).slideDown(1000).delay(3000).slideUp(1000);
            </script>
        {% else %}{% endif %}
            <script type="text/javascript">
                $('#message_box').slideDown(1000).delay(3000).slideUp(1000);
            </script>

    {% endfor %}
{% endif %}
