{% extends 'webapp/head.html' %}

{% block content %}
    <div class="container-fluid transaction">
        <h1 class="title">new donation</h1>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="forma">
                    <h4>Amount</h4>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-1 offset-lg-1"><i class="fa fa-eur illustration" style="font-size:50px"></i></div>
                            <div class="col-lg-9 offset-lg-0"><input type="number" id="amount" style="font-size:50px" placeholder="20.50" required="" autofocus=""></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1>Tukaj bo list donatorjev</h1>
                            </div>
                            <div class="col-lg-3">
                                <a href="addDonator.html" id="addDonator_link" class="link">
                                    <h5 class="text-center" style="color:inherit">Add new donator</h5><i class="icon ion-plus-circled" style="font-size:50px"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-9">
                                <h1>Tukaj bo list prejemnikov</h1>
                            </div>
                            <div class="col-lg-3"><button class="btn btn-primary buton" type="button" onclick=show()>
	<a class="link" id='devide_link'>
		<h5 style="color:inherit">Devide</h5>
		<i class="fa fa-balance-scale illustration"
		   style="font-size:50px;color:inherit;" ></i>
	</a>
</button>
</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row devide" id="devide_block" style="display:none">
                            <div class="col">
                                <div>
                                    <div class="row">
                                        <div class="col-lg-5 offset-lg-7">
                                            <h4>Parts</h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2"><i class="fa fa-user illustration" style="font-size:37px"></i></div>
                                        <div class="col">
                                            <h4 style="margin-top:18px">Janez Novak</h4>
                                        </div>
                                        <div class="col"><input type="number" value="1" style="font-size:2rem"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-2"><i class="fa fa-user illustration" style="font-size:37px"></i></div>
                                        <div class="col">
                                            <h4 style="margin-top:18px">Janez Novak</h4>
                                        </div>
                                        <div class="col"><input type="number" value="1" style="font-size:2rem"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col"><textarea id="comment" placeholder="Comment"></textarea></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-4 offset-lg-4"><button class="btn btn-primary btn-block buton" type="submit" id="done_button">Done</button><a href="myTrip.html" id="back_link" class="link">Back</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
