{% extends "webapp/head.html" %}
{% block title %}Trip Delete{% endblock %}
{% block trip_active %}active{% endblock %}
{% block trip_active_trip %}active{% endblock %}
{% block content %}
    <div class="container-fluid unique">
        <div class="row">
          {{err}}
            <div class="col-lg-4 offset-lg-4">
                {% include 'webapp/messages.html' %}
                <div class="forma" style="margin-top: 30px">
                    <div class="text-center">
                        <h3>Delete {{trip.trip_name}}?</h3>
                    </div>
                    <div class="text-center">
                        <h6 style="margin-bottom: 15px">
                            {% for c in trip.country.all %}
                                - {{c}}
                            {% endfor %}
                        </h6>
                    </div>
                    <div class="illustration">
                      <i class="fa fa-road illustration"></i>
                    </div>
                    <form class="form-horisontal" action="" method="post" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="{% url 'webapp:TripList' %}" class="btn btn-outline-danger btn-block" role="button" aria-disabled="true">
                                        <span class="fa fa-remove" aria-hidden="true"></span>&nbsp;
                                        No
                                    </a>
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-outline-success btn-block" type="submit">
                                        <span class="fa fa-trash-o" aria-hidden="true"></span>&nbsp;
                                        Yes
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
