{% extends "webapp/head.html" %}
{% block title %}Trip details{% endblock %}
{% block trip_active %}active{% endblock %}
{% block trip_active_trip %}active{% endblock %}
{% block content %}
  <div class="container-fluid unique">
      <div class="row">
          <div class="col-lg-8 offset-lg-2">
              {% include 'webapp/messages.html' %}
              <div class="forma" style="margin-top: 30px">
                  <div class="row">
                      <div class="col-lg-5">
                          <div class="form-group">
                              <h4 style="margin-bottom: 30px">{{trip.trip_name}}</h4>
                              <h6 style="margin-bottom: 15px">
                                  {% for c in trip.country.all %}
                                      - {{c}}
                                  {% endfor %}
                              </h6>
                              <h6 style="margin-bottom: 15px">{{trip.description}}</h6>
                          </div>
                          <div class="form-group">
                              <h4 style="margin-bottom: 30px;margin-top: 50px">Fellow travellers</h4>
                              <h6 style="margin-bottom: 15px">
                                {% for c in trip.friends.all %}
                                    - {{c}}
                                {% endfor %}
                              </h6>
                          </div>
                      </div>
                      <div class="col-7">
                          <p>Here we will have some specs about the trip</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
